.menu {
  height: 0;
  overflow: hidden;
  background-color: $primary-blur;
  transition: all .5s ease-in-out;

  * {
    color: $text-secondary;
  }

  .container {
    justify-content: flex-end;
  }

  .button {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    > div {
      width: 100%;
      display: flex;
      margin-top: 25px;
      align-items: baseline;

      a {
        display: flex;
        align-items: center;
        margin-right: 30%;

        &:hover {
          img {
            opacity: 1;
          }
          span {
            opacity: 1;
            transform: translateY(0px);
          }
        }

        img {
          width: 100%;
          opacity: 0.6;
          transition: all .2s ease-in-out;
        }
        span {
          display: block;
          font-size: 14px;
          margin-left: 15px;
          font-weight: 200;
          letter-spacing: 0.1em;
          opacity: 0;
          transform: translateY(-10px);
          transition: all .2s ease-in-out;
        }
      }
    }
  }

  .title {
    font-weight: 700;
    letter-spacing: 0.1em;
    margin-top: 60px;
    display: block;
  }

  .links-container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    
    .links {
      padding-left: 10px;
      margin-top: 15px;
      margin-left: 0;
      width: fit-content;
  
      span {
        font-weight: 700;
      }
    }
  }


  &-header {
    background-color: $primary-blur;

    .search:hover input {
      color: $text-secondary;
      border-bottom: 1px solid $text-secondary !important;

      &::-webkit-input-placeholder {
        color: $text-secondary;
      }
    }

    .kebab {

      &:after,
      &:before,
      div {
        background-color: $text-secondary;
      }
    }
  }

  &.open {
    height: calc(100vh - 107.16px);
  }
}