@import '../mixins';
@import '../animation';

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  &-hero {
    margin-top: -100px;
    background: url('/images/hero-landing.png');
    height: 100vh;
    width: 100%;
    position: relative;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $primary-light;
    }

    .down-button {
      position: absolute;
      bottom: 48px;
      left: 50%;
      transform: translateX(-50%);

      &:hover {
        img {
          transition: all ;
          animation-duration: 1.5s;
          animation-iteration-count: infinite;
          animation-name: bounce;
          animation-timing-function: linear;
        }
      }

      img {
        width: 48px;
      }
    }
  }

  &-project {
    width: 100%;

    .title-box {
      display: flex;

      .title {
        font-size: 26px;
        font-weight: 700;
        line-height: 31.75px;

        @media screen and (max-width: $md-max) {
          font-size: 14px;
          line-height: 17.09px;
        }
      }

      .divider {
        width: 40px;
        height: 3px;
        background-color: $text-primary;
        margin-top: 34px;
        margin-bottom: 23px;

        @media screen and (max-width: $md-max) {
          height: 1px;
        }
      }
    }

    .photo-box {
    
      @media screen and (max-width: $md-max) {

        .column {
          padding: 0;
        }
      }

      .photo {
        display: block;
        height: 100%;
        position: relative;
        margin-bottom: 40px;
    
        @media screen and (max-width: $md-max) {
          margin-bottom: 14px;
        }

        &:hover {
          img {
            filter: grayscale(0%);
          }

          .text {
            opacity: 1;
          }
        }

        img {
          filter: grayscale(100%);
          transition: all .2s linear;
    
          @media screen and (max-width: $md-max) {
            filter: grayscale(0%);
          }
        }

        .overlay {
          position: absolute;
          top: 0;
          background-color: $primary-light;
          height: calc(100% - 40px);
          width: 100%;
    
          @media screen and (max-width: $md-max) {
            height: calc(100% - 14px);
          }
        }

        .date {
          position: absolute;
          top: 29px;
          opacity: 0;
          transition: all .2s linear;
    
          @media screen and (max-width: $md-max) {
            opacity: 1;
          }

          span {
            color: $text-secondary;
            font-size: 12px;
            line-height: 13.8px;
          }
        }

        .type {
          position: absolute;
          bottom: 60px;
          opacity: 0;
          transition: all .2s linear;
    
          @media screen and (max-width: $md-max) {
            opacity: 1;
          }

          span {
            color: $text-secondary;
            font-size: 12px;
            line-height: 13.8px;
          }
        }

        .text {
          position: absolute;
          bottom: 60px;
          opacity: 0;
          transition: all .2s linear;
    
          @media screen and (max-width: $md-max) {
            opacity: 1;
            bottom: 34px;
          }

          span {
            color: $text-secondary;
            font-weight: 700;
            font-size: 16px;
            line-height: 18.4px;
          }
        }
      }
    }
  }

  &-design {
    margin-bottom: 90px;

    @media screen and (max-width: $md-max) {
      margin-bottom: 0;
      width: 100%;
      padding: 0;
    }

    .text-box {
      background-color: #454545;
      width: 100%;
      text-align: center;
      padding-top: 86px;
      padding-bottom: 90px;

      @media screen and (max-width: $md-max) {
        padding-top: 89px;
        padding-bottom: 89px;
        padding-left: 41.5px;
        padding-right: 41.5px;
        text-align: left;
      }

      span {
        color: $text-secondary;
      }

      .title {
        font-size: 26px;
        font-weight: 700;
        line-height: 31.75px;

        @media screen and (max-width: $md-max) {
          font-size: 14px;
          line-height: 17.09px;
        }
      }

      .divider {
        width: 40px;
        height: 3px;
        background-color: $text-secondary;
        margin: 0 auto;
        margin-top: 31px;
        margin-bottom: 36px;

        @media screen and (max-width: $md-max) {
          height: 1px;
          margin-left: 0;
        }
      }

      .info {
        text-align: justify;
        width: 50%;
        font-size: 16px;
        line-height: 25px;
        margin: 0 auto;

        @media screen and (max-width: $md-max) {
          width: 100%;
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }
}