@import '../mixins';
@import '../animation';

.container {
  min-height: 100vh;
}

.section {

  &-options {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 36.17px;

    .backdrop {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 0;
      background: $primary-blur;
      z-index: 5;

      &.opened {
        height: 100vh;
      }
    }

    .filter {
      position: relative;
      padding: 10px 50px 10px 0;

      &-button {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: absolute;
        top: -5px;
        left: -10px;
        padding: 10px 40px 10px 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      
        @media screen and (max-width: $sm-max) {
          padding: 10px 100px 10px 10px;
        }

        &.opened {
          background: $secondary;
          z-index: 5;
        }

        > .burger {
          width: 14px;
          margin-right: 16px;
          margin-bottom: 3px;
      
          &:after,
          &:before,
          div {
            background-color: $text-primary;
            border-radius: 1px;
            content: '';
            display: block;
            height: 1px;
            margin-bottom: 6px;
            transition: all .2s ease-in-out;
          }
  
          &:after {
            margin-bottom: 0;
          }
      
          &.opened {
            &:after {
              transform: translateY(-6px) rotate(-135deg);
            }
            &:before {
              transform: translateY(8px) rotate(135deg);
            }
            div {
              transform: scale(0);
            }
          }
      
          @media screen and (max-width: $sm-max) {
            margin-left: auto;
            display: block;
          }
        }
  
        > span {
          width: 150px;
          font-weight: 700;
          font-size: 12px;
          line-height: 14.32px;
      
          @media screen and (max-width: $md-max) {
            width: 90px;
            font-size: 10px;
            line-height: 11.93px;
          }
        }
      }

      .dropdown-items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        left: -10px;
        top: -2.5px;
        transform: translateY(25px) scaleY(0);
        z-index: 5;
        background-color: white;
        border-radius: 10px;
        transition: transform .2s ease-in-out;
        transform-origin: top center;
          
        &.opened {
          height: auto;
          transform: translateY(25px) scaleY(1);
          padding: 5px 15px 0;
        }
    
        &::-webkit-scrollbar {
          width: 8px;
        }
    
        &::-webkit-scrollbar-track {
          background: transparent; 
        }
    
        &::-webkit-scrollbar-thumb {
          background: #D3D3D3; 
          border-radius: 3px;
        }
    
        &::-webkit-scrollbar-thumb:hover {
          background: #858585; 
        }
    
        .item {
          min-width: 200px;
          border-bottom: 0.25px solid #939393;
          padding: 6px 0;
          cursor: pointer;
          
          &:last-child {
            border-bottom: 0;
          }

          span {
            font-size: 12px;

            &.selected {
              font-weight: 700;
            }
          }
        }
    
        .sub-item {
          padding-left: 25px;

          span {
            color: $primary-light;
  
            &.selected {
              color: $primary;
              font-weight: 400;
            }
          }
        }

        .reset {
          cursor: pointer;
          margin: 37.89px 0;
          padding: 6px 0;
          text-align: center;
          width: 145px;
          border-radius: 2px;
          background-color: $primary;
          color: $text-secondary;
          font-weight: 700;
          line-height: 12.21px;
          letter-spacing: 0.15em;
          font-size: 10px;
        }
      }

    }

    .sorting {
      margin-left: auto;
      display: flex;
      align-items: center;
      position: relative;

      span {
        font-size: 12px;
        line-height: 14.32px;
    
        @media screen and (max-width: $md-max) {
          font-size: 10px;
          line-height: 11.93px;
        }
      }

      > span {
        width: 150px;
        font-weight: 700;
    
        @media screen and (max-width: $md-max) {
          width: 90px;
        }
      }

      :global(.dropdown-underline-items) {
        position: absolute;
        left: 0;
        transform: translateY(60%) scaleY(0);
        z-index: 5;
        background-color: white;
        border-radius: 10px;
        transition: transform .2s ease-in-out;
        transform-origin: top center;

        > :global(.item):last-child {
          border-bottom: 0;
        }

        &:global(.opened) {
          height: auto;
          transform: translateY(60%) scaleY(1);
          padding: 5px 15px 0;
        }
      }
    }
  }

  &-carousel {
    margin-top: 50px;
    margin-bottom: 110px;
    
    @media screen and (max-width: $md-max) {
      margin-top: 0;
      margin-bottom: 30px;

      .carousel-container {
        width: 100%;
        padding: 0;
      }
    }

    .item-container {
      position: relative;
      border-radius: 50px;
      overflow: hidden;

      .item {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 480px;
      
        @media screen and (max-width: $md-max) {
          height: 500px;
        }
      }

      .name {
        position: absolute;
        top: 30px;
        right: 5%;
        font-size: 21px;
        line-height: 21.98px;
        font-weight: 700;
        color: $text-secondary;

        @media screen and (max-width: $md-max) {
          font-size: 12px;
          line-height: 12px;
        }
      }
    }
  }

  &-list {
    margin-bottom: 110px;
    
    @media screen and (max-width: $md-max) {
      margin-bottom: 55px;
    }

    .masonry {
      column-count: 3;
      column-gap: 1em;
      width: 100% !important;
      height: 100% !important;
    
      @media screen and (max-width: $md-max) {
        column-count: 2;
      }

      .item {
        display: inline-block;
        margin: 0 0 1em;
        width: 100%;
        position: relative;
        border-radius: 5%;
        overflow: hidden;

        img {
          width: 100%;
        }

        .overlay {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          transition: all 0.3s ease-in-out;

          @media screen and (max-width: $md-max) {
            display: none;
          }
        }

        .code {
          position: absolute;
          top: 24.64px;
          left: 5%;
          font-size: 14px;
          line-height: 16.7px;
          color: $text-secondary;
          opacity: 0;
          transition: all 0.3s ease-in-out;

          @media screen and (max-width: $md-max) {
            opacity: 1;
            position: initial;
            display: block;
            margin-top: 6px;
            font-size: 6px;
            line-height: 7.16px;
            color: $text-primary;
          }
        }

        .name {
          position: absolute;
          bottom: 19.36px;
          left: 5%;
          font-size: 18px;
          line-height: 21.98px;
          font-weight: 700;
          color: $text-secondary;
          opacity: 0;
          transition: all 0.3s ease-in-out;

          @media screen and (max-width: $md-max) {
            opacity: 1;
            position: initial;
            display: block;
            margin-top: 3px;
            font-size: 8px;
            line-height: 9.77px;
            color: $text-primary;
          }
        }
        
        &:hover {
          .overlay {
            background-color: $primary-light;
          }

          .code {
            opacity: 1;
          }

          .name {
            opacity: 1;
          }
        }
      }
    }
  }
}
