@import '../mixins';
@import '../animation';

.container {
  min-height: 100vh;
}

.section {

  &-carousel {
    margin-top: 50px;
    margin-bottom: 110px;
    
    @media screen and (max-width: $md-max) {
      margin-top: 0;
      margin-bottom: 30px;

      .carousel-container {
        width: 100%;
        padding: 0;
      }
    }

    .item-container {
      position: relative;

      .item {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 480px;
      
        @media screen and (max-width: $md-max) {
          height: 500px;
        }
      }

      .name {
        position: absolute;
        top: 30px;
        right: 5%;
        font-size: 21px;
        line-height: 21.98px;
        font-weight: 700;
        color: $text-secondary;

        @media screen and (max-width: $md-max) {
          font-size: 12px;
          line-height: 12px;
        }
      }
    }
  }

  &-list {
    margin-bottom: 110px;
    
    @media screen and (max-width: $md-max) {
      margin-bottom: 55px;
    }

    .masonry {
      column-count: 3;
      column-gap: 1em;
    
      @media screen and (max-width: $md-max) {
        column-count: 2;
      }

      .item {
        display: inline-block;
        margin: 0 0 1em;
        width: 100%;
        position: relative;

        img {
          width: 100%;
        }

        .overlay {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          transition: all 0.3s ease-in-out;

          @media screen and (max-width: $md-max) {
            display: none;
          }
        }

        .code {
          position: absolute;
          top: 24.64px;
          left: 5%;
          font-size: 14px;
          line-height: 16.7px;
          color: $text-secondary;
          opacity: 0;
          transition: all 0.3s ease-in-out;

          @media screen and (max-width: $md-max) {
            opacity: 1;
            position: initial;
            display: block;
            margin-top: 6px;
            font-size: 6px;
            line-height: 7.16px;
            color: $text-primary;
          }
        }

        .name {
          position: absolute;
          bottom: 19.36px;
          left: 5%;
          font-size: 18px;
          line-height: 21.98px;
          font-weight: 700;
          color: $text-secondary;
          opacity: 0;
          transition: all 0.3s ease-in-out;

          @media screen and (max-width: $md-max) {
            opacity: 1;
            position: initial;
            display: block;
            margin-top: 3px;
            font-size: 8px;
            line-height: 9.77px;
            color: $text-primary;
          }
        }
        
        &:hover {
          .overlay {
            background-color: $primary-light;
          }

          .code {
            opacity: 1;
          }

          .name {
            opacity: 1;
          }
        }
      }
    }
  }
}
