// screen sizes
$xs-max: 599px;
$sm-max: 959px;
$md-max: 1279px;
$lg-max: 1919px;

// colors
$primary: rgba(26,26,26,1);
$primary-light: rgba(26,26,26,0.3);
$secondary: rgba(255,255,255,1);
$secondary-light: rgba(255,255,255,0.3);
$error: #FF6A03;
$grey: rgba(63,63,63,1);
$grey-light: rgba(63,63,63,0.3);
$grey-lighter: rgba(211,211,211,1);
$grey-lighter-light: rgba(211,211,211,0.3);
$footer: #F4F4F4;
$text-primary: rgba(26,26,26,1);
$text-secondary: #FFFFFF;
$text-caption: #8386AD;
$text-input-border: #D8D8D8;

// fonts
