//animation keyframes

@keyframes bounce {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(10px); }
  100% { transform: translateY(0px); }
}

.show-from-y {
  opacity:1 !important;
  transform: translateY(0) !important;
}