@import './mixins';
@import './animation.scss';
@import './components/breadcrumbs.scss';
@import './components/button.scss';
@import './components/dropdown.scss';
@import './components/footer.scss';
@import './components/header.scss';
@import './components/input.scss';
@import './components/menu.scss';
@import './components/snackbar.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  letter-spacing: 0.05rem;

  &:hover {
    color: inherit;
  }
}

* {
  box-sizing: border-box;
  color: $text-primary;
  letter-spacing: 0.05rem;
}

video {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

p {
  margin: 0;
}

h3 {
  font-size: 26px;
  line-height: 31.75px;
  letter-spacing: 0.05rem;
  margin: 0;
  
  @media screen and (max-width: $md-max) {
    font-size: 20px;
    line-height: 24.42px;
  }
}

.no-bg {
  background-color: unset !important;
  background: unset !important;
}

.only-mobile {
  display: none;
  
  @media screen and (max-width: $md-max) {
    display: block;
  }
}

.featured-container {
  .row {

    @media screen and (max-width: $md-max) {
      margin-left: 0;
      margin-right: 0;
  
      > * {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.react-multi-carousel-dot-list {
  bottom: 34.44px !important;

  @media screen and (max-width: $md-max) {
    bottom: 18.44px !important;
  }
}